// Import some basic tools to start the project with.
@import "compass/reset";                // Remove gross browser-specific defaults.
@import "compass/css3";                 // Include library for CSS3 for things like animations.

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  text-align: center;
}

// This describes the visual representation of the game grid.
ol#tiles {                              // This is the main grid container.
  display: block;
  float: left;
  width: 100%;
  margin: 40px 0;
  > li {                                // This contains the grid's rows.
    display: block;
    float: left;
    width: 100%;
    height: 50px;
    margin: 0 0 1px 0;
    > ol {                              // This is the list of tiles in the row.
      display: block;
      float: left;
      width: 100%;
      height: 50px;
      > li {                            // This is a tile.
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 0 1px 0 0;
        position: relative;
        > span {                        // This represents the front of the tile andholds the tile number.
          display: inline-block;
          width: 50px;
          height: 50px;
          background: #cccccc;
          font-size: 24px;
          line-height: 46px;
          font-weight: 700;
          position: absolute;
          left: 0;
          top: 0;
          @include transform(rotateY(180deg));    // The tiles all begin face down.
          @include backface-visibility(hidden);   // When the tile is face down, you can't see it's content.
          @include transition-delay(0);           // These transition rules animate the flip effect.
          @include transition-timing-function(cubic-bezier(0.250, 0.460, 0.450, 0.940));
          @include transition-property(transform);
          @include transition-duration(0.25s);
          z-index: 200;
        }
      }
      > li:after {                      // This represents the back of the tile.
        content: '';
        display: inline-block;
        width: 50px;
        height: 50px;
        background: #888888;
        position: absolute;
        left: 0;
        top: 0;
        @include transform(rotateY(180deg));    // The tiles all begin face down.
        @include transition-delay(0);           // These transition rules animate the flip effect.
        @include transition-timing-function(cubic-bezier(0.250, 0.460, 0.450, 0.940));
        @include transition-property(transform);
        @include transition-duration(0.25s);
        z-index: -150;
      }
    }
  }
}

// This describes the "flipped over" state of a tile.
ol#tiles {
  > li {
    > ol {
      > li.flipped {
        > span {
          @include transform(rotateY(0));       // When the tile is flipped over, set its front face rotation to normal.
        }
      }
      > li.flipped:after {
        @include transform(rotateY(0));         // When the tile is flipped over, also set its back face rotation to normal.
      }
    }
  }
}






