// Import some basic tools to start the project with.
@import "compass/reset";                // Remove gross browser-specific defaults.
@import "compass/css3";                 // Include library for CSS3 for things like animations.

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  text-align: center;
}

strong {
  font-weight: 700;
}

// This describes the visual representation of the game grid.
ol#tiles {                              // This is the main grid container.
  display: block;
  float: left;
  width: 100%;
  margin: 40px 0;
  > li {                                // This contains the grid's rows.
    display: block;
    float: left;
    width: 100%;
    > ol {                              // This is the list of tiles in the row.
      display: block;
      float: left;
      width: 100%;
      border-bottom: 2px solid #ffffff;
      line-height: 50%;
      > li:before {                     // This is a placeholder div that allows the tile to have height equal to its width.
        content: '';
        display: block;
        padding-top: 100%;
      }
      > li {                            // This is a tile.
        display: inline-block;
        width: 10%;
        margin: 0 2px 0 0;
        position: relative;
        @media screen and (max-width: 720px) {  // Make the site look nice for mobile devices and smaller screen resolutions.
          width: 20%;
        }
        > span {                        // This represents the front of the tile and holds the tile number.
          display: inline-block;
          width: 100%;
          height: 100%;
          background: #cccccc;
          font-size: 400%;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          @include transform(rotateY(180deg));  // The tiles all begin face down.
          @include backface-visibility(hidden); // When the tile is face down, you can't see it's content.
          @include transition-delay(0);         // These transition rules animate the flip effect.
          @include transition-timing-function(cubic-bezier(0.250, 0.460, 0.450, 0.940));
          @include transition-property(transform);
          @include transition-duration(0.25s);
          z-index: 200;
          > strong {                            // Make the number text bold and also align it vertically.
            display: inline-block;
            position: relative;
            top: 50%;
            @include transform(translateY(-66%));
          }
        }
      }
      > li:after {                              // This represents the back of the tile.
        content: '';
        display: inline-block;
        width: 100%;
        background: #888888;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include transform(rotateY(180deg));    // The tiles all begin face down.
        @include transition-delay(0);           // These transition rules animate the flip effect.
        @include transition-timing-function(cubic-bezier(0.250, 0.460, 0.450, 0.940));
        @include transition-property(transform);
        @include transition-duration(0.25s);
        z-index: -150;
      }
    }
  }
}

// This describes the "flipped over" state of a tile.
ol#tiles {
  > li {
    > ol {
      > li.flipped {
        > span {
          @include transform(rotateY(0));       // When the tile is flipped over, set its front face rotation to normal.
        }
      }
      > li.flipped:after {
        @include transform(rotateY(0));         // When the tile is flipped over, also set its back face rotation to normal.
      }
    }
  }
}






